@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto+Mono:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    cursor: pointer;
}

.header-link {
    font-weight: 500 !important;
}

.button {
    padding: 5px 10px;
    color: #D10700;
    border: 1px solid #D10700;
    border-radius: 50px;
    background: #fff;
}

.button:hover {
    transition: all .2s ease-in;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 50px;
    background: #D10700;
}

h1 {
    font-weight: 700 !important;
    width: 75%;
    margin: auto;
    line-height: 60px !important;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.card img {
    border-radius: 30px;
    height: 260px;
    object-fit: cover;
}

.swiperBtn {
    width: 100%;
    padding: 10px 97px;
    border: 1.5px solid #000000;
    border-radius: 42px;
}

.card {
    border: none !important;
}

.row {
    margin-left: 10px !important;
    margin-left: 10px !important;
}

.cards {

    margin: auto;
    padding: 10px;
    width: 300px;
    height: 300px;
    background: #F5F7F9;
    border-radius: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cards p {
    font-size: 20px;
    text-align: center;
}

.cards h2 {
    text-align: center;
}

.cardsMap {
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 300px;
    border-radius: 34px;
}

.cardsMap p {
    color: #fff;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(32px);
    border-radius: 125px;
    padding: 5px;
    padding-left: 10px;
    width: 155px;
}

.cardsMap h3 {
    color: #fff;
    width: 250px;

}

.filledBtn {
    border: 1.5px solid #FFFFFF;
    border-radius: 42px;
    background-color: transparent;
    color: #fff;
    padding: 13px 10px;
    width: 100%;
    font-size: 14px;
}

.outlinedBtn {
    border: 1.5px solid #fff;
    border-radius: 42px;
    background-color: #ffffff;
    color: #000000;
    padding: 13px 10px;
    width: 100%;
    font-size: 12px;
}

.absoluteBtn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.swiper-scrollbar {
    display: none;
}

.swiperLogo {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #fff;

}

.swiperLogo img {
    width: 40px;
}

.swiperAction {
    padding: 230px 15px;
    text-align: start;
    color: #fff;
    width: 250px;
}

.rowItem {
    display: flex;
    flex-wrap: wrap;
}

.rowItem img {
    width: 300px;
}

@media screen and (max-width:2000px) {
    .rowItem img {
        width: 500px;
    }
}

@media screen and (max-width:1700px) {
    .rowItem img {
        width: 400px;
    }
}

.sample-slider .swiper-wrapper {
    transition-timing-function: linear;
    display: flex;
    align-items: center;
}

.sample-slider2 .swiper-wrapper {
    transition-timing-function: linear;
    display: flex;
    align-items: center;
}

.form-container {
    background: #F5F7F9;
    border-radius: 30px;
    padding: 60px !important;
}

.formButton {
    border: none;
    background: #D10700;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
}

.iframe {
    width: 100%;

}

.footer h4 {
    color: black;
}

.footer p {
    margin: 0 !important;
    opacity: 0.7;
    cursor: pointer;
}

.passports img {
    width: 100%;
}

.card1 {

    background: url('./assets/img1.png') center center/ cover;
}

.card2 {
    background: url('./assets/img2.png') center center/ cover;
}

.card3 {
    background: url('./assets/img3.png') center center/ cover;
}

.card4 {
    background: url('./assets/img4.png') center center/ cover;
}

.card5 {
    background: url('./assets/img5.png') center center/ cover;

}

.card6 {
    background: url('./assets/img6.png') center center/ cover;
}

.slide1 {
    background: url("/assets/swiper1.png") center center/ cover;
    height: 450px !important;
}

.slide2 {
    background: url("/assets/swiper2.png") center center/ cover;
    height: 450px !important;
}

.slide3 {
    background: url("/assets/swiper3.png") center center/ cover;
    height: 450px !important;
}

.slide4 {
    background: url("/assets/swiper4.png") center center/ cover;
    height: 450px !important;
}